# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# IDE
.vscode/

# Logs
*.log

# Generated Output
data/output/

# FAISS Vector Store
data/vector_db/

# Challenge Assets (Do not upload)
data/contracts/*.pdf
data/schema/*.json

# Local Hugging Face Cache (optional)
.cache/

# Test Cache
.pytest_cache/

# OS Files
.DS_Store
Thumbs.db